@import './designSystem.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.toastify.toast-success {
  background: #226501 !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0.5rem !important;
  padding: 0.75rem 1.25rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}
.toastify.toast-info {
  background: #162432 !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0.5rem !important;
  padding: 0.75rem 1.25rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}
.toastify.toast-warn {
  background: #705400 !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0.5rem !important;
  padding: 0.75rem 1.25rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}
.toastify.toast-error {
  background: #6b1003 !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0.5rem !important;
  padding: 0.75rem 1.25rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}

.navbar {
  @apply bg-primary shadow-md;
}

aside {
  @apply w-[250px] p-4 shadow-md dark:bg-primary dark:text-ivory;
}

article {
  @apply mx-0 max-w-full bg-white p-2 shadow-lg dark:bg-primary sm:rounded-lg md:p-8;
}

section {
  @apply m-1 my-4 flex w-full flex-col gap-8 sm:m-8;
}

body {
  @apply bg-background font-body text-primary;
}

.menu-block {
  @apply w-[150px] items-center dark:text-ivory;
}

input {
  @apply bg-white text-primary dark:bg-ivory/10 dark:text-ivory;
}
h1 {
  @apply text-3xl font-bold text-primary dark:text-ivory;
}

h2 {
  @apply text-2xl font-bold text-primary dark:text-ivory;
}
h3 {
  @apply text-xl font-bold text-primary dark:text-ivory;
}
h4 {
  @apply text-lg font-bold text-primary dark:text-ivory;
}
