@import './designSystem.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


.toastify.toast-success {
  background: #10b981 !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0.5rem !important;
  padding: 0.75rem 1.25rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}
.toastify.toast-info {
  background: #1e40af !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0.5rem !important;
  padding: 0.75rem 1.25rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}
.toastify.toast-warn {
  background: #f59e0b !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0.5rem !important;
  padding: 0.75rem 1.25rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}
.toastify.toast-error {
  background: #dc2626 !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0.5rem !important;
  padding: 0.75rem 1.25rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}