@import './designSystem.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.toastify.toast-success {
  background: #266b03 !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0.5rem !important;
  padding: 0.75rem 1.25rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}
.toastify.toast-info {
  background: #162432 !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0.5rem !important;
  padding: 0.75rem 1.25rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}
.toastify.toast-warn {
  background: #6b5203 !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0.5rem !important;
  padding: 0.75rem 1.25rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}
.toastify.toast-error {
  background: #6b1003 !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 0.5rem !important;
  padding: 0.75rem 1.25rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}

.navbar {
  @apply bg-primary shadow-md;
}

article {
  @apply mx-0 max-w-full bg-white p-2 shadow-lg sm:rounded-lg md:mx-16 md:p-8;
}

section {
  @apply m-0 my-4 flex w-full flex-col gap-8 sm:m-8;
}

body {
  @apply bg-background;
}
